:root {
    --primary-color : #FF6F00; 
    --gray-color : #C7C7C7;
}
* {
    font-family: "DM Sans", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


.text-gray {
    color: var(--gray-color);
}
.text-dark {
    color: var(--gray-color);
}
.bg-primary {
    background-color: var(--primary-color) !important;
}
.cursor-pointer {
    cursor: pointer;
}
.title-1 {
    font-size: 26px;
    font-weight: 700;
}
.title-2 {
    font-size: 20px;
    font-weight: 500;
}
.title-3 {
    font-size: 18px;
    font-weight: 500; 
}
.title-4 {
    font-size: 16px;
    font-weight: 500; 
}
.title-5 {
    font-size: 12px;
    font-weight: 600; 
}

main {
    min-height: calc(100vh - 113px);
    width: 100%;
}

main .left-container {
    padding: 20px;
    width: 69%;
}
main .right-container {
    padding: 20px;
    border-left: 1px solid #FF6F0033;
    width: 31%;
    position: fixed;
    height: calc(100vh - 113px);
    right: 0px;
    min-width: 440px;
    max-width: 440px;
}
main .right-container::-webkit-scrollbar {
    width: 0px;
    height: 10px;
    background-color: #b6b6b6;
}
main .right-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--primary-color);
}
.sidenav-content__headings-lists--title a.link-tag.active {
    opacity: 100%;
}
.sidenav-content__headings-lists--title a.link-tag {
    opacity: 70%;
}
.icon-notification {
    margin-right: 20px;
}

.header-search-input {
    width: 600px;
    height: 52px;
    border-radius: 4px;
    padding-right: 20px;
    padding-left: 64px;
    gap: 16px;
    background: #F1F1F1;
    color: #606060;
    font-weight: 500;
    border: 0px;
}
.header-search-input:focus-visible {
    outline: unset;
}
input.header-search-input::placeholder {
    color: #606060;
}
.search-icon {
    position: absolute;
    left: 20px;
    top: 13px;
}


.sidenav-content {
    overflow-y: scroll;
}
.sidenav-content::-webkit-scrollbar {
    width: 0px;
}
.sidenav-content__headings-lists.collaps a img {
    margin: 0px auto;
    width: 32px;
    height: 32px;
    padding: 8px;
    background-color: transparent;
}
.sidenav-content__headings-lists.collaps a {
    text-decoration: none;
}
.sidenav-content__headings-lists.collaps a span {
    font-size: 16px;
    color: #ffffffb5;
}
h5.sidenav-content__headings-lists--title a.link-tag.active span {
    color: #ffffff;
}
h5.sidenav-content__headings-lists--title a.link-tag.active img {
    filter: brightness(0) invert(100%);
    background-color: #ffffff4f;
    border: 1px solid #FFFFFF80;
    border-radius: 4px;
}
h5.sidenav-content__headings-lists--title {
    text-align: center;
    margin: 10px 0px;
}
@media (max-width: 1440px) {
    main .right-container {
        width: 440px;
        max-width: 440px;
    }
    main .left-container {
        padding: 20px;
        width: 900px;
        max-width: 900px;
    }
    .card-conatiner {
        max-width: 200px;
    }
    .card-row-1 {
        padding: 0px 0px;
    }
    .project-milestone-scroll {
        overflow-x: scroll;
    }
}
@media (max-width: 1366px) {
    .sidenav-content {
        height: 100%;
    }    
    .header-content {
        height: 60px;
    }
    .header-search-input {
        height: 40px;
    }
    .sidenav-content {
        top : 60px;
    }
    .notifications-list {
        top: 250px !important;
    }
    .project-employees-list {
        top: 110px !important;
    }
    .project-employees-list {
        height: 100% !important;
    }
    main .right-container {
        height: 100%;
    }    
    h4.proprietor-name {
        font-size: 12px !important;
    }
    h6.constructions-name {
        font-size: 14px !important;
    }
    .card-project h2.site-name  {
        font-size: 18px !important;
    }
    a.view-all-approvals {
        font-size: 14px !important;
        display: flex;
        align-items: center;
    }
    .header-search-input {
        width: 100%;
    }
    .card-conatiner {
        margin-bottom: 16px;
    }
    .tab-nav-notification .nav-item .nav-link {
        margin-right: 5px !important;
        padding: 8px !important;
    }
    .tab-nav-notification .nav-item .nav-link.active {
        padding-right: 24px !important;
    }
    .weekly-date {
        width: 35px !important;
    }
}
@media (max-width: 1280px) {
    .card-conatiner {
        max-width: unset; 
    }
    main .left-container {
        width: 66%;
    }
    main .right-container {
        width: 32%;
        max-width: unset;
        min-width: unset;
    }
    .tab-nav-notification .nav-item .nav-link {
        font-size: 10px !important;
    }
}